/*general*/


/*background slideshow*/
.background-slideshow, 
.background-slideshow:after {
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	z-index: -1;
    background:black;
}

/*.background-slideshow:after {
	content: '';
	opacity: 0.5;
    background: transparent url(../images/static.jpg) repeat top left;
}*/

.background-slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;	
    background-size: cover;
    background-repeat: none;
    background-position: 50% 50%;
    opacity: 0;
    z-index: 0;
    animation-name: bgslide; 
    animation-duration: 20s;
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes bgslide {
    0% { opacity: 0;}
    12.5% { opacity: 0.5; animation-timing-function: ease-out; }
    25% { opacity: 0.5 }
    37.5% { opacity: 0 }
    100% { opacity: 0 }
}
/*animation-timing-function: ease-out; */

.background-slideshow li:nth-child(1) { 
    background-image: url(../images/bg1.jpg); 
}
.background-slideshow li:nth-child(2) { 
    background-image: url(../images/bg2.jpg);
    animation-delay: 5s; 
}
.background-slideshow li:nth-child(3)  { 
    background-image: url(../images/bg3.jpg);
    animation-delay: 10s;  
}
.background-slideshow li:nth-child(4) { 
    background-image: url(../images/bg4.jpg);
    animation-delay: 15s; 
}

/*main section*/

.main-content {
	position: relative;
	color: red;
}

/*head-section*/

