<div id="about" ng-controller="aboutController">
	<div class="white-box intro ">Hi! My name is Nam Nguyen.
		I am a front-end/back-end developer living in California, US. I have a Bachelor degree in Computer Science from UCI in 2017. I have been doing some works here and there since graduation so I thought to myself "might as well make a website, cuz it is cool!". By the way, I love gaming and sometimes making memes with photoshop in case you wonder what's my hobbies ¯\_(ツ)_/¯</div> 
	<div class="flex-box">
		<div class="white-box left">
			<h1>Skills</h1>
			<div class="flex-box skill">
				<span class="hvr-rotate">HTML</span>
				<span class="hvr-rotate">CSS</span>
				<span class="hvr-rotate">Javascript</span>
				<span class="hvr-rotate">jQuery</span>
				<span class="hvr-rotate">AngularJS</span>
				<span class="hvr-rotate">Wordpress</span>
				<span class="hvr-rotate">Python</span>
				<span class="hvr-rotate">PHP</span>
				<span class="hvr-rotate">MySQL</span>
				<span class="hvr-rotate">T-SQL</span>
				<span class="hvr-rotate">Java</span>
				<span class="hvr-rotate">C++</span>
			</div>
		</div>
		<div id="button-zone" class="flex-box white-box right">
			<div>
				<h3>If (you are interested) then...</h3>
				<button ng-click="projects()">Check out my projects</button>
			</div>
			<div>
				<h3>Else then...</h3>
				<button><a href="https://github.com/thanhkiem51" target="_blank">Find me on Github</a></button>
			</div>
		</div>
	</div>	

</div>