<div id="about" ng-controller="aboutController">
	<div class="intro white-box">Hi! My name is Nam Nguyen.
		I am a front-end/back-end developer living in California, US. I have a Bachelor degree in Computer Science from UCI in 2017 </div> 
	<div class="flex-container">
		<div class="white-box">
			<b>Skills</b>
			<div class="skill">	
			<span>HTML</span>
			<span>CSS</span>
			<span>Javascript</span>
			<span>jQuery</span>
			<span>AngularJS</span>
			<span>Wordpress</span>
			<span>Python</span>
			<span>PHP</span>
			<span>MySQL/T-SQL</span>
			<span>Java/C++</span>
			</div>
		</div>
		<div class="white-box">
			<button>Check out my project!</button>
			<button>or u can come to my github</button>
		</div>
		
	</div>
</div>