<div id="about" ng-controller="aboutController">
	<div class="white-box intro ">Hi! My name is Nam Nguyen.
		I am a front-end/back-end developer living in California, US. I have a Bachelor degree in Computer Science from UCI in 2017 </div> 
	<div class="flex-box">
		<div class="white-box left">
			<h1>Skills</h1>
			<div class="flex-box skill">

				<span>HTML</span>
				<span>CSS</span>
				<span>Javascript</span>
				<span>jQuery</span>
				<span>AngularJS</span>
				<span>Wordpress</span>
				<span>Python</span>
				<span>PHP</span>
				<span>MySQL/T-SQL</span>
				<span>Java/C++</span>

			</div>
		</div>
		<div class="white-box right">
			<button>Check out my projects</button>
			<button><a href="https://github.com/thanhkiem51" target="_blank">Find me on Github</a></button>
		</div>
	</div>	

</div>