<div id="projects">
	<h1> Projects for Clients</h1>
	<!-- Main project -->
	<div class="flex-box"> 
		<div class="project">
			<a href="https://help.delamar.com/" target="_blank"><img src="../images/pj1.JPG" class="hvr-grow"></a>
			<div class="skill flex-box center">
				<span class="hvr-rotate">Wordpress</span>
				<span class="hvr-rotate">PHP</span>
				<span class="hvr-rotate">MySQL</span>
			</div>
			<div class="description">
				A support center for employees of Delamar Hospitality Group. In before, employees need to exchange emails whenever they need to resolve issues or clients' requessts. To prevent the mailbox from getting overwhelemed, I created this portal that allows employees to send out requests by filling out a quick form. It will record those requests. The Support department can easily keep track and resolve these requests, and to announce any progresses accordingly.
			</div>
		</div>

		<div class="project">
			<a href="https://pvdplumbing.com/" target="_blank"><img src="../images/pj2.jpg" class="hvr-grow"></a>			
			<div class="skill flex-box center">
				<span class="hvr-rotate">Wordpress</span>
				<span class="hvr-rotate">Javascript</span>
				<span class="hvr-rotate">Youtube API</span>
			</div>
			<div class="description">
				A Plumbing company was asking us to implement a flex slider that contains both videos and images to demonstrate their services. Since these videos are from Youtube, I need to work with Youtube API to load those videos while also avoid multiple API calls to prevent server overload. 
			</div>
		</div>
	</div>

	<!-- Side projects -->
	<h1> Side projects (some fun stuffs)</h1>
	<div class="flex-box"> 
		<div class="project">
			<img src="../images/pj3.JPG" ng-click="foodMenu()" class="hvr-grow">
			<div class="skill flex-box center">
				<span class="hvr-rotate">AngularJS</span>
				<span class="hvr-rotate">MySQL</span>
			</div>
			<div class="description">		
				A simple application that allows client to view a restaurant menu. It also permits users to add items (add to leave their name as one of the menu's contributors) 
			</div>
		</div>

		<div class="project">
			<img src="../images/pj4.jpg" ng-click="mapData()" class="hvr-grow">
			<div class="skill flex-box center">
				<span class="hvr-rotate">GoogleMap API</span>
				<span class="hvr-rotate">MySQL</span>
				<span class="hvr-rotate">JSON</span>
			</div>
			<div class="description">
				An application that visualizes data on Google map of the United States by color coding each state/region based on categories. Data are pulled from the government census and my live MySQL database. Due to API quote reached, the map may not looked good...
			</div>
		</div>

<!-- 		<div class="project">
			<img src="../images/pj4.jpg" ng-click="mangaBrowser()" class="hvr-grow">
			<div class="description">
				<div class="skill flex-box center">
					<span class="hvr-rotate">AngularJS</span>
					<span class="hvr-rotate">MySQL</span>
					<span class="hvr-rotate">CMS</span>
				</div>
				<p>A small content management system for storing, uploading, and showing manga from databases. User can also manages manga info and add chapters using embedded links.</p>
			</div>
		</div> -->
	</div>



</div>