<div id="projects" ng-controller="projectsController">
	<h1> Underconstruction...</h1>
	<div class="flex-box">

		<div class="project">
			<a href="https://help.delamar.com/" target="_blank"><img src="../images/pj1.JPG" class="hvr-grow"></a>
			<div class="description">
				<div class="skill flex-box center">
					<span>Wordpress</span><span>PHP</span><span>MySQL</span>
				</div>
				<p>A support center for employees of Delamar Hospitality Group. In before, employees need to exchange emails whenever they need to resolve issues or clients' requessts. To prevent the mailbox from getting overwhelemed, I created this portal that allows employees to send out requests by filling out a quick form. It will record those requests. The Support department can easily keep track and resolve these requests, and to announce any progresses accordingly.</p>
			</div>
		</div>

		<div class="project">
			<a href="https://pvdplumbing.com/" target="_blank"><img src="../images/pj2.jpg" class="hvr-grow"></a>
			<div class="description">
				<div class="skill flex-box center">
					<span>Wordpress</span><span>Javascript</span><span>YoutubeAPI</span>
				</div>
				<p>A Plumbing company was asking us to implement a flex slider that contains both videos and images to demonstrate their services. Since these videos are from Youtube, I need to work with Youtube API to load those videos while also avoid multiple API calls to prevent server overload. </p>
			</div>
		</div>
<!-- 		<div class="project">
			<img src="../images/pj1.jpg">
			<p>A support center for employees of Delamar Hospitality Group on Wordpress</p>
		</div> -->
	</div>
</div>