<div ng-controller="mapProjectController">
  <button id="test">hey</button>
	<ul class="flexbox">
      <li><div class="view"></div></li>
      <li><div class="view"></div></li>
      <li><div class="view"></div></li>
      <li><div class="view"></div></li>
    </ul>

    <table width="900">
    <tr>
      <td width="20%" align="center" bgcolor="red">AS</br>0 (9)</td>
      <td width="20%" align="center" bgcolor="red">IA</br>0 (18)</td>
      <td width="20%" align="center" bgcolor="red">NE</br>0 (15)</td>
      <td width="20%" align="center" bgcolor="yellow">AL</br>1 (9)</td>
      <td width="20%" align="center" bgcolor="yellow">HI</br>4 (17)</td>
    </tr>
    <tr>
      <td width="20%" align="center" bgcolor="yellow">IN</br>1 (4)</td>
      <td width="20%" align="center" bgcolor="yellow">KY</br>2 (18)</td>
      <td width="20%" align="center" bgcolor="yellow">OR</br>1 (12)</td>
      <td width="20%" align="center" bgcolor="yellow">PA</br>4 (19)</td>
      <td width="20%" align="center" bgcolor="green">AZ</br>4 (12)</td>
    </tr>
    <tr>
      <td width="20%" align="center" bgcolor="green">GA</br>6 (18)</td>
      <td width="20%" align="center" bgcolor="green">GU</br>6 (20)</td>
      <td width="20%" align="center" bgcolor="green">ID</br>5 (15)</td>
      <td width="20%" align="center" bgcolor="green">MA</br>4 (15)</td>
      <td width="20%" align="center" bgcolor="green">MD</br>2 (7)</td>
    </tr>
    <tr>
      <td width="20%" align="center" bgcolor="green">MT</br>5 (14)</td>
      <td width="20%" align="center" bgcolor="green">ND</br>5 (18)</td>
      <td width="20%" align="center" bgcolor="green">NY</br>3 (10)</td>
      <td width="20%" align="center" bgcolor="green">SC</br>5 (17)</td>
      <td width="20%" align="center" bgcolor="green">UT</br>4 (11)</td>
    </tr>
    <tr>
      <td width="20%" align="center" bgcolor="green">VT</br>8 (20)</td>
      <td width="20%" align="center" bgcolor="blue">AK</br>8 (2)</td>
      <td width="20%" align="center" bgcolor="blue">AR</br>10 (19)</td>
      <td width="20%" align="center" bgcolor="blue">CA</br>2 (3)</td>
      <td width="20%" align="center" bgcolor="blue">CO</br>4 (2)</td>
    </tr>
    <tr>
      <td width="20%" align="center" bgcolor="blue">CT</br>7 (6)</td>
      <td width="20%" align="center" bgcolor="blue">DC</br>10 (17)</td>
      <td width="20%" align="center" bgcolor="blue">DE</br>6 (10)</td>
      <td width="20%" align="center" bgcolor="blue">FL</br>10 (5)</td>
      <td width="20%" align="center" bgcolor="blue">IL</br>9 (6)</td>
    </tr>
    <tr>
      <td width="20%" align="center" bgcolor="blue">KS</br>8 (7)</td>
      <td width="20%" align="center" bgcolor="blue">LA</br>4 (7)</td>
      <td width="20%" align="center" bgcolor="blue">ME</br>9 (5)</td>
      <td width="20%" align="center" bgcolor="blue">MI</br>10 (10)</td>
      <td width="20%" align="center" bgcolor="blue">MN</br>9 (18)</td>
    </tr>
    <tr>
      <td width="20%" align="center" bgcolor="blue">MO</br>8 (4)</td>
      <td width="20%" align="center" bgcolor="blue">MS</br>8 (2)</td>
      <td width="20%" align="center" bgcolor="blue">NC</br>7 (8)</td>
      <td width="20%" align="center" bgcolor="blue">NH</br>8 (8)</td>
      <td width="20%" align="center" bgcolor="blue">NJ</br>6 (12)</td>
    </tr>
    <tr>
      <td width="20%" align="center" bgcolor="blue">NM</br>9 (14)</td>
      <td width="20%" align="center" bgcolor="blue">NV</br>5 (3)</td>
      <td width="20%" align="center" bgcolor="blue">OH</br>1 (0)</td>
      <td width="20%" align="center" bgcolor="blue">OK</br>8 (11)</td>
      <td width="20%" align="center" bgcolor="blue">RI</br>9 (1)</td>
    </tr>
    <tr>
      <td width="20%" align="center" bgcolor="blue">SD</br>6 (3)</td>
      <td width="20%" align="center" bgcolor="blue">TN</br>10 (12)</td>
      <td width="20%" align="center" bgcolor="blue">TX</br>10 (5)</td>
      <td width="20%" align="center" bgcolor="blue">US</br>8 (11)</td>
      <td width="20%" align="center" bgcolor="blue">VA</br>1 (2)</td>
    </tr>
    <tr>
      <td width="20%" align="center" bgcolor="blue">WA</br>10 (15)</td>
      <td width="20%" align="center" bgcolor="blue">WI</br>8 (17)</td>
      <td width="20%" align="center" bgcolor="blue">WV</br>6 (6)</td>
      <td width="20%" align="center" bgcolor="blue">WY</br>2 (3)</td>
    </tr>
  </table>
</div>